@import "../../colors";
.modal {
  margin-top: 50px;
  width: 400px;
  padding: 35px;
  background-color: #90f9ad;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 30px;
  gap: 30px;
  .subtitle {
    color: $color-secondary;
    font-size: 10px;
    font-weight: 500;
  }
}
@media (max-width: 550px) {
  .modal {
    margin-top: 30px;
    width: 250px;
    grid-template-columns: auto;
  }
  .subtitle {
    font-size: 10px;
  }
  .span {
    font-size: 10px;
  }
  .actions {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
